h1 {
  background-color: #aa7750;
  border: 3px #a0683d solid;
  text-align: center;
  font-family: MarckScript;
  font-size: 80px;
  margin: auto;
  padding: 30px
}

.mainbody {
    background-color: #aa7750;
    border: 3px #a0683d solid;
    text-align: center;
    width: 700px;
    margin: auto;
    padding: 30px;
}

.contact-form {
  background-color: #aa7750;
  border: 3px #a0683d solid;
  width: 700px;
  margin: auto;
  padding: 30px;
  font-family: Rokkitt;
  color: white;
}

.about {
  background-color: #aa7750;
  border: 3px #a0683d solid;
  text-align: center;
  width: 700px;
  margin: auto;
  padding: 30px;
  font-family: Rokkitt;
  color: white;
}

#first-bar {
  text-align: center;
  margin-top: 4em;
  padding: 1em;
}

/* Menu */
header {
  position: fixed;
  background-color: #aa7750;
  width: 99%;
  height: 4em;
  top: 0px;
  font-family: Rokkitt;
  text-align: right;
}

body {
    background-color: white;
    font-family: Rokkitt;
    color: white;
}

/* Set the layout of the menu */
.menu-item {
  display: inline-block;
  margin: 1em .2em;
  background-color: #a0683d;
  padding: 0.5em 1em;
  border-radius: 1em;
  min-width: 6em;
  text-align: center;
}

.menu-item:hover{
  background-color: tan;
  color: white;
}

/* Styling my links */
.menu-item a {
  color: white;
  text-decoration: none;
}

/* Dropdown */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 0.5em 0 0 -1em;
  color: tan;
  background-color: #a0683d;
  z-index: 1;
  border-radius: 0em 0em 1em 1em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a{
  color: black;
}

/* Styling the dropdown item display */
.dropdown-item {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  min-width: 6em;
}

.dropdown-item:hover, .dropdown-item:hover a {
  color: white;
  background-color: tan;
}

#location:hover {
  border-radius: 0em 0em 1em 1em;
}

.dropdown:hover {
  border-radius: 1em 1em 0em 0em;
}

/* Adding in the site name styling */
.site-logo {
  float: left;
  min-width: 6em;
  padding: 0.5 1em;
}

/* Footer */
footer {
  width: 100%;
  background-color: #aa7750;
  height: 3em;
  text-align: center;
  font-family: Rokkitt;
  padding-top: 1em;
}

#footer-link {
  color: white;
  font-weight: bold;
}
